
// Colors

$testColor1: red;
$testColor2: green;
$testColor3: purple;
$testColor4: rgb(252, 227, 0);
$testColor5: rgb(0, 13, 202);

$darkPurple: #140328;
$medPurple: #130326;
$purple: #140429;
$lightPurple: rgb(40, 20, 63);

$lightBlue: #084351;

$textDark: #0c2539;
$textMid: #63788a;
